/* Estilos generales */
.botones-juntos {
  display: flex;
  flex-direction: column; /* Apilar los botones verticalmente */
  justify-content: center;
  align-items: center;
  gap: 5px; /* Espacio entre los botones */
  margin-bottom: 5px;
}

.button-client-table {
  background-color: #FFA8C6;
  color: #fff;
  padding: 6px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  font-size: 14px;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Judson;
  display:flex;
}

.button-client-table:hover {
  background-color: #ff5890;
}

.titulo-clientes {
  font-family: Judson;
  font-weight: 900;
  font-size: 40px;
  color: #765D00;
  margin-top: 20px;
  text-align: left;
}

.register-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFF9FB;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  height: 100%;
}

.form-group {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

label {
  margin-bottom: 0px;
  color: #765D00;
  font-size: 20px;
  font-family: Judson;
}

.input {
  width: 100%;
  padding: 9px;
  margin-top: 0px;
  border: 1px solid #DFC432;
  border-width: 2px;
  border-radius: 6px;
  box-sizing: border-box;
  margin-right: 10px;
}

.button-client {
  background-color: #FFA8C6;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 110px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-family: Judson;
  margin-left: 22px;
}

.button-client:hover {
  background-color: #ff5890;
}

.cliente-tabla {
  margin-top: 100px;
  font-size: 15px;
}

.cliente-tabla table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
}

.cliente-tabla th, .cliente-tabla td {
  color: #765D00;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 2px solid #DFC432; /* Color de borde de tabla */
  font-size: 18px;
  font-family: Judson;
}


.Modificar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFC5CC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modificar-content {
  background-color: #FFC5CC;
  padding: 20px;
  border-radius: 8px;
  border-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  width: 320px;
  text-align: left;
  color: #FF6996;
  font-family: Judson;
  font-size: 18px;
}

.Modificar-content h3, 
.Modificar-content input {
  color: black;
}

.Modificar input {
  width: 100%;
  padding: 9px;
  margin-top: 0px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 17px;
}

.form-group-full-clientes {
  margin-top: 10px;  
  display: grid;
  justify-content: space-between;
}

.input-button-group-cliente .input {
  width: 350px;
}

.button-client-modificar {
  background-color: #FF6996;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 110px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-family: Judson;
  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botones-juntos-modificar{
    display: flex;
    flex-direction:row; /* Apilar los botones verticalmente */
    justify-content: center;
    align-items: center;
    gap: 3px; /* Espacio entre los botones */
    margin-bottom: 5px;
}

/* Media Queries para dispositivos más pequeños (tablets) */
@media (max-width: 1024px) {
  .register-container {
    padding: 80px;
    margin-top: 150px;
  }
  
  .button-client-table {
    width: 60%;
    font-size: 12px;
  }
  
  .titulo-clientes {
    font-size: 35px;
  }
  
  .cliente-tabla table {
    font-size: 18px;
  }
  
  .button-client {
    width: 90px;
    font-size: 18px;
  }
}

/* Media Queries para teléfonos móviles */
@media (max-width: 768px) {
  .register-container {
    padding: 40px;
    margin-top: 100px;
  }
  
  .button-client-table {
    width: 80%;
    font-size: 12px;
  }
  
  .titulo-clientes {
    font-size: 30px;
  }
  
  .input {
    width: 100%;
    height: 47%;
  }

  
  .label{
    font-size: 14px;
  }

  .input-button-group-cliente .input {
    width: 205px;
    height: 30% !important;
  }

  .button-client {
    width: 80px;
    font-size: 16px;
    padding: 10px;
  }
  
  .cliente-tabla table {
    font-size: 16px;
  }

  .Modificar input {
    width: 100%;
    height: 10% !important;
    padding: 9px;
    font-size: 15px;
  }

  .Modificar-content {
    padding: 20px;
    width: 320px;
    font-size: 16px;
  }

  .button-client-modificar {
    padding: 8px;
    width: 80px;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {

  .input-button-group-cliente .input {
    width: 140px;
    height: 70% !important;
  }

  .register-container {
    padding: 20px;
    margin-top: 50px;
    height: 100%;
    border-radius: 0% !important;
  }

  .cliente-tabla {
    margin-top: 50px;
  }
  
  
  .button-client-table {
    width: 100%;
    font-size: 12px;
  }
  
  .titulo-clientes {
    font-size: 25px;
  }
  
  .cliente-tabla table {
    font-size: 14px;
  }
  
  .button-client {
    width: 70px;
    font-size: 13px;
  }

  th, td {
    padding: 10px;
    text-align: center;
    border: 2px solid #DFC432; /* Color de borde de tabla */
    font-size: 12px;
    font-family: Judson;
  }
}
